html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  min-height: 100%;
  margin: 20px;
}

.card {
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.card div {
  margin-top: auto;
}

.card div img {
  border-radius: 20px;
}

.recetas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}
